@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,300;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Grandstander', cursive;
}

nav > a {
  font-weight: bold;
}

.table-container {
  width: 80%;
  margin-top: 5rem;
}

.modal {
  display: block;
  opacity: 1 !important;
  top: 20%;
}

.container {
  display: flex;
  justify-content: center;
}

.fade {
  transition: opacity .15s linear;
}

i,tbody {
  cursor: pointer;
}

.modal-content {
  padding: 1.2rem;
  border: 2px solid var(--primary);
  margin-top: 5rem;
}